.products {
    grid-area: section;
    background-color: $bg-color;
    display: grid; 
    width: 100%;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    grid-template-rows: min-content;
    overflow-x: unset;
    overflow: auto;
    height: calc(100vh - 120px);
    gap: $spacing-medium;
    padding: $spacing-medium;
    // padding-left: $spacing-large;
}