@keyframes loading { 
    from { transform: rotate(0)}           
    to { transform: rotate(360deg); } 
  }
.products {
    grid-area: section;
    background-color: $bg-color;
    display: grid; 
    width: 100%;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    grid-template-rows: min-content;
    overflow-x: unset;
    overflow: auto;
    height: calc(100vh - 120px);
    gap: $spacing-medium;
    padding: $spacing-medium;
    // padding-left: $spacing-large;
    &__loading {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: $spacing-small;
        img {
            animation: loading 3s infinite;
            width: 50px;
            height: 50px;
        }
        span {
            font-weight: 700 ;
        }
    }
}